body {
  background-color: #23272a;
  color: #7289da;
}

h1 {
  text-align: center;
  text-decoration-line: underline;
  font-size: 3rem;
}

p {
  text-align: center;
  font-size: 25px;
  padding-left: 3rem;
  padding-right: 3rem;
}
